
*,
*::after,
*::before {
    box-sizing: border-box;
}

:focus,
:focus-visible {
    outline: none;
    border: none;
}

label {
  cursor: pointer;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--bg-color-page);
    margin: 0;
    block-size: 100%;
    font-size: 24px;
}

#app {
  inline-size: 100%;
  block-size: 100%;
  max-inline-size: 1920px;
  background-color: var(--bg-color);
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

button,
input {
    color: currentColor;
    font-family: inherit;
    font-size: inherit;
    border: none;
}

ul,
ol {
    list-style: none;
}

.visually-hidden {
    position: absolute;
    inline-size: 1px;
    block-size: 1px;
    overflow: hidden;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    white-space: nowrap;
}
