:root {
    --text-color: #5a5a5a;
    --bg-color: #f2f2f2;
    --bg-color-section: #fff;
    --bg-color-page: var(--bg-color);
    --active: #4297f9;
    --hover-menu-button: #9dc8ff;
    --hover-page: #cccccc;
}
